body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

*{
    padding: 0;
    margin: 0;
}

.espaço{
    background-color: #1d2025;
    height: 170px;
}

.img{
    width: 100px;
    display: flex;
    position: relative;
    top: 30px;
    right: -10px;
}

.head{
    position: relative;
    top: -20px;
    left: 120px;
    color: #ffffff;
}

h3{
    font-size: 20px;
}

.title{
    color: #1d2025;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -10px;
}

.sobre{
    margin: 10px;
    color: #1d2025;
    display: flex;
    justify-content: left;
    position: relative;
    top: 5px;
    
}

---------------------------------------------------------------------

.checkbox-container {
    display:flex;
    justify-content: center;
    align-items: center;
}

.checkbox{
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1){
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2){
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3){
    top: 66px;
    transform: rotate(0);
}

#toggle{
    display: none;
}

/* MENU */

.menu{
    
    position: absolute;
    top: 28px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px #ffffff;
    z-index: -1;
    transition: 400ms ease-in-out 0s;
}

.menu-items{
    position: absolute;
    top: -200px;
    left: 150px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu-items ul {
    list-style-type: none;
}

.menu-items ul li a {
    margin: 10px 0;
    color: #1d2025;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 40px;
}

/* ANIMAÇÃO DE MENU */


#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    top: 47px;
    background-color: #1d2025;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
    background-color: #1d2025;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 48px;
    background-color: #1d2025;
}

#toggle:checked + .checkbox {
    
    background-color: #ffffff;
}

#toggle:checked ~ .menu{
    box-shadow: 0px 0px 0px 50vmax #ffffff;
    z-index: 1;
}

#toggle:checked ~ .menu-items {
    position: absolute;
    z-index: 1;
    visibility: visible;
    opacity: 1;
}





@media only screen and (max-width: 768px) {

    .checkbox-container {
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    .checkbox{
        height: 100px;
        width: 100px;
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        justify-content: center;
        cursor: pointer;
        z-index: 9999;
        transition: 400ms ease-in-out 0s;
    }
    
    .checkbox .trace {
        width: 50px;
        height: 2px;
        background-color: #ffffff;
        position: absolute;
        border-radius: 4px;
        transition: 0.5s ease-in-out;
    }
    
    .checkbox .trace:nth-child(1){
        top: 26px;
        transform: rotate(0);
    }
    
    .checkbox .trace:nth-child(2){
        top: 46px;
        transform: rotate(0);
    }
    
    .checkbox .trace:nth-child(3){
        top: 66px;
        transform: rotate(0);
    }
    
    #toggle{
        display: none;
    }
    
    /* MENU */
    
    .menu{
        
        position: absolute;
        top: 28px;
        right: 30px;
        background-color: transparent;
        height: 4px;
        width: 10px;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 0px #ffffff;
        z-index: -1;
        transition: 400ms ease-in-out 0s;
    }
    
    .menu-items{
        position: absolute;
        top: -200px;
        left: 15px;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        transition: 400ms ease-in-out 0s;
    }
    
    .menu-items ul {
        list-style-type: none;
    }
    
    .menu-items ul li a {
        margin: 10px 0;
        color: #1d2025;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 40px;
    }
    
    /* ANIMAÇÃO DE MENU */
    
    
    #toggle:checked + .checkbox .trace:nth-child(1) {
        transform: rotate(45deg);
        top: 47px;
        background-color: #1d2025;
    }
    
    #toggle:checked + .checkbox .trace:nth-child(2) {
        transform: translate(-100px);
        width: 30px;
        visibility: hidden;
        opacity: 0;
        background-color: #1d2025;
    }
    
    #toggle:checked + .checkbox .trace:nth-child(3) {
        transform: rotate(-45deg);
        top: 48px;
        background-color: #1d2025;
    }
    
    #toggle:checked + .checkbox {
        
        background-color: #ffffff;
    }
    
    #toggle:checked ~ .menu{
        box-shadow: 0px 0px 0px 50vmax #ffffff;
        z-index: 1;
    }
    
    #toggle:checked ~ .menu-items {
        position: absolute;
        z-index: 1;
        visibility: visible;
        opacity: 1;
    }
}